@import url("variables.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-bg-light);
    color: var(--color-text-color);
    list-style: 1.6;
}